#nav{
    height:120px;
    .container{
        border-bottom:2px solid #DDDDDD;
    }
}

#car{
    .container{
        border-top:2px solid #DDDDDD;
        padding:0 140px;
        position:relative;
        padding-bottom:40px;
        .gw{
            img{
                width:22px;
                height:22px;
            }
            padding-top:38px;
            font-size:20px;
            color:#555555;
            line-height:52px;
        }
        .jx{
            font-size:14px;
            a{  
                position:absolute;
                right:145px;
                top:75px;
                color:#64A131;
            }
        }
        .shangpin{
            height:50px;
            background-color:#F1F1F1;
            border:1px solid #CCCCCC;
            margin-top:20px;
            border-bottom:none;
            font-size:12px;
            line-height:50px;
            color:#999999;
            .name{
                padding-left:200px;
            }
            .size{
                padding-left:200px;
            }
            .price{
                padding-left:130px;
            }
            .num1{
                padding-left:130px;
            }
            .caozuo{
                padding-left:130px;
            }
        }
        .car_l{
            border:1px solid #ccc;
            font-size:12px;
            padding:20px;
            li{
                overflow:hidden;
                position:relative;
                border-bottom:1px solid #ccc;
                margin-top:20px;
                font-size:14px;
                line-height:30px;
                img{
                    width:100px;
                    height:100px;
                }
                .ti{
                    padding-top:20px;
                    padding-left:50px;
                }
                .sie{
                    padding-top:20px;
                    padding-left:120px;
                }
                .price_t{
                    padding-top:20px;
                    padding-left:140px;
                }
            }
            .btn{
                padding-top:20px;
                padding-left:115px;
                input{
                    width:20px;
                    height:20px;
                    border:1px solid #ccc;
                    text-align:center;
                }
            }
            .close{
                padding:5px 20px;
                position:absolute;
                top:20px;
                right:20px;
                cursor:pointer;
                border-radius:5px;
                &:hover{
                    background:#ccc;
                    color:#fff;
                }
            }
        }
    }

        .settle{
            margin-top:20px;
            position:relative;
            .js{
                border:1px solid #64A131;
                width:852px;
                height:50px;
                position:absolute;
                right:150px;
                bottom:0;
                .amount{
                    padding-left:650px;
                }
                .total{
                    font-size:26px;
                    line-height:50px;
                    color:#64A131;
                    font-weight:bold;
                }
            }
            .wind{
                font-size:18px;
                line-height:50px;
                height:50px;
                width:150px;
                text-align:center;
                background:#64A131;
                color:#fff;
                cursor:pointer;
            }
        }
        .xq{
            font-size:16px;
            line-height:64px;
            color:#555555;
        }
        .list{
            padding-top:20px;
            position:relative;
            border:1px solid #999999;
            height:264px;
            .i1{
                position:absolute;
                left:10px;
                top:110px;
            }
            .i2{
                position:absolute;
                right:10px;
                bottom:110px;
            }
            .list_l{
                height:264px;
                div{
                    width:165px;
                    margin:0 12px;
                    img{
                        width:165px;
                        height:165px;
                    }
                    p{
                        font-size:14px;
                        line-height:20px;
                        color:#999999;
                    }
                }
            }
        }
    }
    