#header{
    background-color:#EEEEEE;
    height:30px;
    .container{
        .head_l{
            width:240px;
            font-size:12px;
            height:30px;
            line-height:29px;
            color:#999999;
            position:relative;
            p{
                position:relative;
                img{
                    display:block;
                    width:18px;
                    height:16px;
                    margin:8px 4px;
                }
            }
            a{
                font-size:12px;
                color:#64A131;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .head_r{
            li{
            float:left;
            position:relative;
                span{
                    font-size:12px;
                    color:#999999;
                    padding:0 13px;
                    line-height:30px;
                    border-right:1px solid #AE99AE;
                    &:hover{
                        color:#F6AB00;
                    } 
                }
            }
            .notice{
                position:relative;
                .atice{
                    position:absolute;
                    right:0;
                    width:225px;
                    height:120px;
                    background-color:#fff;
                    border:1px solid #DDDDDD;
                    display:none;
                    z-index:110;
                    p{
                        border-bottom:1px dotted #dddddd;
                        padding-left:30px;
                        a{
                            font-size:14px;
                            color:#555555;
                            line-height:34px;
                            &:hover{
                                color:#64A131;
                            }
                        }
                    }
                }
                &:hover{
                    .atice{
                        display:block;
                    }
                    background-color:#fff;
                }
            }
            .sj{
                position:relative;
                .sj1{
                    position:absolute;
                    right:0;
                    width:290px;
                    height:290px;
                    background-color:#fff;
                    border:1px solid #DDDDDD;
                    display:none;
                    z-index:120;
                    img{
                        padding:5px;
                    }
                }
                &:hover{
                    .sj1{
                        display:block;
                    }
                    background-color:#fff;
                }
            }
        }
    }
}

#link{
    .container{
        .link_t{
            height:106px;
            border-top:1px solid #DDDDDD;
            border-bottom:1px solid #DDDDDD;
            div{
                width:25%;
                border-right:1px solid #DDDDDD;
                img{
                    display:inline-block;
                }
                h3{
                    font-size:20px;
                    line-height:28px;
                    padding-top:25px;
                    padding-left:133px;
                    font-weight:bold;
                    color:#555555;
                }
                p{
                    font-size:14px;
                    line-height:22px;
                    padding-left:133px;
                    color:#999999;
                }
            }
        }
        .link_c{
            padding-left:245px;
            padding-top:20px;
            p{
                font-size:14px;
                line-height:34px;
                color:#999999;
                text-align:center;
            }
            img{
                display:inline-block;

            }
            .link_c1{
                padding-top:20px;
            }
            .link_cc{
                padding-left:45px;
            }
            .link_cr{
                padding-left:58px;
                dl{
                    padding:0 15px;
                    float:left;
                    dt{
                        font-size:16px;
                        line-height:38px;
                    }
                    dd{
                        font-size:14px;
                        line-height:32px;
                        color:#999999;
                        &:hover{
                            color:#64A131;
                            text-decoration:underline;
                        }
                    }
                }
            }
        }
    }
}
#footer{
    .container{
        border-top:1px solid #DDDDDD;
        padding-bottom:55px;
        .p1{
            padding-top:10px;
            font-size:14px;
            line-height:20px;
            color:#999999;
            text-align:center;
            a{
                color:#999999;
                &:hover{
                    text-decoration:underline;
                }
            }
        }
        .p2{
            font-size:14px;
            line-height:24px;
            text-align:center;
            color:#64A131;
        }
        div{
            text-align:center; 
        }
    }
}

.k1{
    position:fixed;
    right:0;
    bottom:37px;
}

#toTop{
    position:fixed;
    right:0;
    bottom:0;
}